<section class="post-comments">

    <div id="gitmentContainer"></div>
    <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
    <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
    <script>
    var gitment = new Gitment({
        owner: 'yzc1997',
        repo: 'yzc1997.github.io',
        oauth: {
            client_id: '14e23b7608846df32326',
            client_secret: '31398dd4af3a8857aaccaac01ece17d8ca9c5789',
        },
    });
    gitment.render('gitmentContainer');
    </script>

</section>
